header{
    background-color: blueviolet;
    font-style: italic;
    font-weight: 500;
    font-size: 200%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ffff;
    background: linear-gradient(to right, blueviolet,rgb(255, 57, 219));
}

body{
    background-color: rgb(134, 122, 122);
}
p {
    color: aliceblue;
    font-style:italic;
    font-size: large; 
}
div{
    margin-top: auto;
    margin-bottom: auto;
}
.manute{
    background-color: dodgerblue;
    margin: 5%;
}
.manolito{
    background-color: green;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 2mm;
    margin-left: 15%;
    margin-right: 15%; 
}